{% extends 'bootstrap/base.html' %}


{% block title %}
{% if title %}{{ title }} AEOCB{% else %}Welcome to AEOCB{% endif %}
{% endblock %}

{% block navbar %}
      <nav class="navbar navbar-expand-md navbar-light bg-light">
          <a href="{{ url_for('index') }}" class="navbar-brand"><img src="/static/logo-aeocb.png" width="30px" height="30px" />AEOCB</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                  <a href="{{ url_for('add_theme') }}" class="nav-item nav-link">Themes</a>
                  <a href="{{ url_for('add_post') }}" class="nav-item nav-link">Verses & Qoutes</a>

                  {% if current_user.is_anonymous %}
                  <a href="{{ url_for('login') }}" class="nav-item nav-link" tabindex="-1">Login</a>
                  {% else %}
                  <a href="{{ url_for('logout') }}" class="nav-item nav-link" tabindex="-1">Logout</a>
                  {% endif %}                  
              </div>
          </div>
      </nav>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}